*{
  padding: 0;
  margin: 0;
}
.mypage{
  width: 1200px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.mypage-nav{
  width: 300px;
  height: 900px;
  list-style-type: none;
  position: fixed;
  margin-top: 50px;

}
.userinfo{
  height: 250px;
  background-color: gray;
  text-align: center;
  border-radius: 25px;
}
.userinfo a{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  text-decoration: none;
}
.userinfo a img{
  width: 150px;
  height: 150px;
}
.userservice-menu{
  border-top:1px solid gray;
  font-size: larger;
}
.userservice-menu:last-child{
  border-bottom: 1px solid gray;
}
.userservice-menu li{
  padding-left: 2em; 
}
.userservice-menu a{
  font-size: medium;
  display:block;
  text-decoration: none;
  color: black;
}
.userservice-menu a:hover{
  scale: 1.2;
}
.mypage-nav-footer{
  position: absolute;
  bottom:10px;
  display: flex;
  justify-content: center;
}
.mypage-nav-footer li{
  font-size: small;
  width:80px;
}
.mypage-container{
  margin-left:350px;
  margin-top: 50px;
  width: 850px;
  height: 900px;
 
}
.messagebox{
  height: 600px;
  position: relative;
}
.messagebox h1{
  margin-left:15px;
}
.message-search{
  width: 100%;
  display: flex;
  justify-content: end;
}
.message-list{
  width: 100%;
  margin-top: 20px;
  
}

.message-list li{
  width: 100%;
  list-style: none;
  display: flex;
  border-bottom:1px solid rgba(128, 128, 128, 0.11);
}
.message-list-header{
  background-color: rgba(128, 128, 128, 0.2);
}
.message-list li div:nth-child(1){
  width:40px;
}
.message-list li div:nth-child(2){
  width:100px;
}
.message-list li div:nth-child(3){
  width:628px;
}
.message-list li div:nth-child(4){
  width:80px;
}
.messagecontent{
  text-overflow:ellipsis;
  overflow: hidden;
  text-decoration: none;
  max-width: 80%;
  display: inline-block;
}
.pagenav{
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  display:flex;
  justify-content: center;
  width: 100%;
}
.pagenav li{
  list-style: none;
  width:25px;
  border: 1px solid gray;
  text-align: center;
}
.pagenav a{
  text-decoration: none;
  color:gray;
}
.userupdateform h1{
  margin-left:15px;
}
.userupdate-table{
  margin-top: 10px;
  width: 100%;
  height: 600px;
  position: relative;
}
.userupdate-table table{
  width: 750px;
  position: absolute;
  top: 200px;
  left: 50px;
  border: 1px solid gray;
}

.userupdate-table table tr{
  height: 50px;
}
.userupdate-table th{
  background-color: rgba(128, 128, 128, 0.1);
}
.userupdate-table input{
  padding:0.5em;
  width:50%;
}
.update-btn{
  position: absolute;
  bottom:50px;
  left: 45%;
  display: block;
 padding: 0.5em;
 border: none;
 outline: none;
 border-radius: 5px;
}
.profileimg-changebox{
  position: relative;
}
.profileimg-changebox h1{
  margin-left:15px;
}
.profileimg-change{
  margin-top: 10px;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 150px;
  left: 50px;
}
.profileimg-change table{
  width: 750px;
  border: 1px solid gray;
}
