* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}

header {
  background-image: url("../images/background.jpg");
  height: 70px;
  background-size: 100% 100%;
}


#main {
  margin: 0 auto;
  width: 100%;

}

section {
  margin: 30px 0;
}


#container {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  background-color: rgb(252, 254, 251);
  justify-content: space-between;
}

#filter {
  width: 250px	;
  margin-left: 30px;
  display: flex;
}

#filter_info h4 {
  margin-top: 30px;
  margin-bottom: 3px;
}

#filter_info input {
  margin-top: 15px;
  border: 1px solid blue;
  margin-right: 4px;
}

#filter_info label {
	font-size: 14px;
}


#house {
  /* width: 50%; */
  width:1500px;
 
  

}

.home__box {
  display: grid;
	width:100%;
	grid-template-columns:1fr 1fr 1fr 1fr;
}

.home {
  margin-right: 15px;
  width:350px;
  height:450px;
}


.maps {
  width: 500px;
  border: 1px solid black;
}


.logo {
  margin: 10px 0 0 20px;
  color: white;
  font-size: 35px;
  font-weight: 800;
}

.search__box {
  width: 430px;
  display: inline-block;
  background-color: white;
  padding: 20px 30px;
  position: relative;
  top: 50px;
  left: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
}
/* sda */
#search1 {
  display: flex;
  align-items: center;
}

.search_info {
  width: 500px;
  height: 50px;
  border: 1px solid rgb(223, 219, 219);
  box-sizing: border-box;

  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgb(181, 179, 179);

}
.search_info .search_info1 {
  font-weight: bold;
  text-align: center;
  width: 25%;
  height: 50%;
  border-right: 1px solid rgb(182, 175, 175);

} 

.search_info .search_info2 {
  height: 50%;
}


.search2_info {
  width: 850px;
  height: 70px;
  border: 1px solid rgb(179, 177, 177);
  background-color: white;
  box-sizing: border-box;
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgb(250, 245, 245);
}


.search2_info input {
  border: none;
  background-color: white;
} 

.search2_info button {
  background-color: white;
  border: none;
  text-align: left;
}

.search2_info_main {
  font-weight: bold;
  padding-left: 0px;
  font-size: 13px;
  margin-bottom: 5px;
}

.search2_info_sub {
  color:rgb(146, 138, 138);
}


#searchExecution {
  border:0.5px white;
  background-color: #FF385C;
  width: 100px;
  height: 50px;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
}

#searchExecution button {
	color : white;
	 background-color: #FF385C;
	 font-size : 15px;
}


.search__input {
  height: 45px;
  width: 100%;
  color: rgb(100,98,98);
  font-size: 15px;
  border: 1px solid rgb(230, 227, 227);
}

.search__button {
  display: grid;
  justify-content: end;
  padding: 20px 0;
}

.search__button button{
  background-color: #FF385C;
  color: white;
  width: 70px;
  height: 45px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}


.info1 {
  margin: 5px 0;
  font-size: 13px;
  color: grey;
}

.info1 img {
  padding-left: 280px;
}

.info2 {
  font-size: 16px;
  font-weight: 600px;
  color: rgb(60, 60, 60);
}

.star {
  font-size: 12px;
  color: rgb(30, 120,115);
  font-weight: 800px;
}

.count, .type {
  font-size: 12px;
}



/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow{
  width: 350px;
  height: 300px;
  position: relative;
  margin: 10px auto;
  overflow: hidden;   
  /*리스트 형식으로 이미지를 일렬로 
  정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
  hidden으로 숨겨줘야됨*/
}


.slides{
  position: absolute;
  left: 0;
  top: 0;
  width: 1400px; /* 슬라이드할 사진과 마진 총 넓이  400?*/
  transition: left 0.5s ease-out; 
  /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

/* 첫 번째 슬라이드 가운데에 정렬하기위해
첫번째 슬라이드만 margin-left조정 */

/* .slides li:first-child{
  margin-left: 100px;
} */

/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child){
  float: left;
  width:350px;
  /* margin-right: 100px; */
}

.slides li{
  float: left;
  width:350px;
}

.slides img {
  max-width: 100%;
  height: auto;
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 10px;

}

.controller span{
  position:absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 35%;
  font-size: 1.3em;
  cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{
  background-color: rgba(128, 128, 128, 0.11);
}

.prev{
  left: 10px;
  /* display: none; */
}

.prev:hover{
  transform: translateX(-5px);
  display: block;
}

.next{
  right: 10px;
}

.next:hover{
  transform: translateX(5px);
}

#map_mark {
  position: fixed;
  bottom: 20px;
  right: 20px;

  border: none;
  border-radius: 16px;
  background: rgb(7, 7, 7);
  color: white;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0px 5px 15px gray;
  cursor: pointer;
}


#slidecontainer {
	
}

.slider {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 100%; /* 슬라이더 길이 */
    height: 15px; /* 슬라이더 두께 */
    border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #ccc; /* 슬라이더 색상 */
    outline: none; /* 슬라이더 테두리 없이 */
}

/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
(Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 25px; /* 슬라이더 핸들 길이 */
    height: 25px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #00f; /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

.slider::-moz-range-thumb {
    width: 25px; /* 슬라이더 핸들 길이 */
    height: 25px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #00f; /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}
#home_grade{
	margin-top:1em;
}
#home_grade a{
	text-decoration:none;
	padding:0.3em 3em;
	background-color:gray;
	color:white;
	border-radius:15px;
}












footer {
	height: 250px;
}

